
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5jg9JAkjJ3-Ju64mGzxzjjfrM6DG67DY81Q&usqp=CAU" class="d-block w-50" alt="coca">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5jg9JAkjJ3-Ju64mGzxzjjfrM6DG67DY81Q&usqp=CAU" class="d-block w-50" alt="c0quita">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5jg9JAkjJ3-Ju64mGzxzjjfrM6DG67DY81Q&usqp=CAU" class="d-block w-50" alt="cocacola">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container">
    <div class="text-center m-5">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
    <table class=" table table-succets" id="mytable">
        <thead>
            <tr>
                <th>ID producto</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones del administrador</th>
            </tr>
        </thead>

        <tbody>
            {{#each results}}
            <tr>
                <td>{{idProducto}}</td>
                <td>{{nombre}}</td>
                <td>{{precio}}</td>
                <td>
                  <a href="javascript:void(0)" class="btn btn-info edit" data-id="{{idProducto}}" data-producto-nombre="{{nombre}}" data-producto-precio="{{precio}}">
                    Editar producto
                    </a>
                  <a href="javascript:void(0)" class="btn btn-danger delete" data-id="{{idProducto}}">
                    Borrar producto
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>  

<form action="/update" method="post">
<div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Precio</label>
                <input type="number" class="form-control" name="precio" placeholder="Precio">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="text" name="id" class="idProducto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Actualizar</button>
      </div>
    </div>
  </div>
</div>
</div>
<form>
        <form id="add-row-form" action="/delete" method="post">
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Borrar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <strong>¿Estás seguro de borrar este elemento?</strong>
                    </div>
                    <div class="modal-footer">
                    <input type="hidden" name="idProducto" class="form-control idProducto2" required>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close"></button>
                        <button type="submit" class="btn btn-success">Eliminar</button>
                    </div>
                        </div>
                </div>
            </div>
        </form>
</form>

<script src="/assets/jquery.js"></script>






<script>
$(document).ready(function(){
    //Mostrar datos al modal para editar registro
    $('#mytable').on('click', '.edit', function(){
        let idProducto= $(this).data('id');
        let nombre = $(this).data('nombre');
        let precio = $(this).data('precio');
        $('#EditModal').modal('show');
        $('.nombre').val(nombre);
        $('.precio').val(precio);
        $('.id').val(idProducto);
    })
    // Modal DELETE    
    $('#mytable').on('click', '.delete', function(){
        let idProducto = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.idProducto2').val(idproducto);
    })
})
</script>

